@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
footer,
header,
nav,
section {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
    outline-width: 0;
}
b {
    font-weight: inherit;
}
b {
    font-weight: bolder;
}
[type=reset],
[type=submit],
html [type=button] {
    -webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto;
}
[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
[hidden] {
    display: none;
}
@media print {
    *,
    ::after,
    ::before,
    div::first-letter,
    div::first-line,
    li::first-letter,
    li::first-line,
    p::first-letter,
    p::first-line {
        text-shadow: none!important;
        box-shadow: none!important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    h2,
    h3,
    p {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
html {
    box-sizing: border-box;
}
*,
::after,
::before {
    box-sizing: inherit;
}
html {
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
}
[tabindex="-1"]:focus {
    outline: 0!important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
ul ul {
    margin-bottom: 0;
}
a {
    color: #ffffff;
    text-decoration: none;
}
a:focus,
a:hover {
    color: #ffffff;
    text-decoration: underline;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
    outline: 0;
}
[role=button] {
    cursor: pointer;
}
[role=button],
a {
    touch-action: manipulation;
}
[hidden] {
    display: none!important;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.h1,
h1 {
    font-size: 2.5rem;
}
.h2,
h2 {
    font-size: 2rem;
}
.h3,
h3 {
    font-size: 1.75rem;
}
.h4,
h4 {
    font-size: 1.5rem;
}
.h5,
h5 {
    font-size: 1.25rem;
}
.h6,
h6 {
    font-size: 1rem;
}
.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width:576px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width:768px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width:992px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width:1200px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width:576px) {
    .container {
        width: 540px;
        max-width: 100%;
    }
}
@media (min-width:768px) {
    .container {
        width: 720px;
        max-width: 100%;
    }
}
@media (min-width:992px) {
    .container {
        width: 960px;
        max-width: 100%;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1140px;
        max-width: 100%;
    }
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width:576px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
@media (min-width:768px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
@media (min-width:992px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
@media (min-width:1200px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
}
.btn:focus,
.btn:hover {
    text-decoration: none;
}
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(216, 193, 44, 0.25);
}
.btn:disabled {
    cursor: not-allowed;
    opacity: 0.65;
}
.btn:active {
    background-image: none;
}
.btn-info {
    color: #fff;
    background-color: #de8d31;
    border-color: #de8d31;
}
.btn-info:hover {
    color: #fff;
    background-color: #de8d31;
    border-color: #de8d31;
}
.btn-info:focus {
    box-shadow: 0 0 0 2px rgba(222, 160, 36, 0.5);
}
.btn-info:disabled {
    background-color: #de8d31;
    border-color: #de8d31;
}
.btn-info:active {
    color: #fff;
    background-color: #de8d31;
    background-image: none;
    border-color: #de8d31;
}
.btn-link {
    font-weight: 400;
    color: #de8d31;
    border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link:disabled {
    background-color: transparent;
}
.btn-link,
.btn-link:active,
.btn-link:focus {
    border-color: transparent;
}
.btn-link:hover {
    border-color: transparent;
}
.btn-link:focus,
.btn-link:hover {
    color: #d89441;
    text-decoration: underline;
    background-color: transparent;
}
.btn-link:disabled {
    color: #636c72;
}
.btn-link:disabled:focus,
.btn-link:disabled:hover {
    text-decoration: none;
}
.btn-group-lg > .btn,
.btn-lg {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-block+.btn-block {
    margin-top: 0.5rem;
}
.btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}
.btn-group > .btn {
    position: relative;
    flex: 0 1 auto;
}
.btn-group > .btn:hover {
    z-index: 2;
}
.btn-group > .btn:active,
.btn-group > .btn:focus {
    z-index: 2;
}
.btn-group .btn+.btn,
.btn-group .btn+.btn-group,
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group {
    margin-left: -1px;
}
.btn-group > .btn:first-child {
    margin-left: 0;
}
.btn-group > .btn:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.btn-group > .btn-group {
    float: left;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
    border-radius: 0;
}
.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-link {
    display: block;
    padding: 0.5em 1em;
}
.nav-link:focus,
.nav-link:hover {
    text-decoration: none;
}
@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }
    to {
        background-position: 0 0;
    }
}
@supports (transform:translate3d(0,0,0)) {
    .carousel-item {
        transition: transform 0.6s ease-in-out;
        backface-visibility: hidden;
        perspective: 1000px;
    }
}
@supports (transform:translate3d(0,0,0)) {
    .carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
        transform: translate3d(0,0,0);
    }
    .active.carousel-item-right,
    .carousel-item-next {
        transform: translate3d(100%,0,0);
    }
    .active.carousel-item-left,
    .carousel-item-prev {
        transform: translate3d(-100%,0,0);
    }
}
.d-block {
    display: block!important;
}
.d-flex {
    display: flex!important;
}
@media (min-width:992px) {
    .d-lg-block {
        display: block!important;
    }
    .d-lg-flex {
        display: flex!important;
    }
}
.flex-row {
    flex-direction: row!important;
}
.flex-column {
    flex-direction: column!important;
}
.flex-row-reverse {
    flex-direction: row-reverse!important;
}
.flex-column-reverse {
    flex-direction: column-reverse!important;
}
.flex-wrap {
    flex-wrap: wrap!important;
}
.flex-nowrap {
    flex-wrap: nowrap!important;
}
.flex-wrap-reverse {
    flex-wrap: wrap-reverse!important;
}
.justify-content-center {
    justify-content: center!important;
}
.justify-content-between {
    justify-content: space-between!important;
}
.align-items-center {
    align-items: center!important;
}
.align-content-center {
    align-content: center!important;
}
.align-content-between {
    align-content: space-between!important;
}
.align-self-center {
    align-self: center!important;
}
@media (min-width:992px) {
    .flex-lg-row {
        flex-direction: row!important;
    }
    .flex-lg-column {
        flex-direction: column!important;
    }
    .flex-lg-row-reverse {
        flex-direction: row-reverse!important;
    }
    .flex-lg-column-reverse {
        flex-direction: column-reverse!important;
    }
    .flex-lg-wrap {
        flex-wrap: wrap!important;
    }
    .flex-lg-nowrap {
        flex-wrap: nowrap!important;
    }
    .flex-lg-wrap-reverse {
        flex-wrap: wrap-reverse!important;
    }
    .justify-content-lg-center {
        justify-content: center!important;
    }
    .justify-content-lg-between {
        justify-content: space-between!important;
    }
    .align-items-lg-center {
        align-items: center!important;
    }
    .align-content-lg-center {
        align-content: center!important;
    }
    .align-content-lg-between {
        align-content: space-between!important;
    }
    .align-self-lg-center {
        align-self: center!important;
    }
}
.h-25 {
    height: 25%!important;
}
.h-50 {
    height: 50%!important;
}
.h-75 {
    height: 75%!important;
}
.h-100 {
    height: 100%!important;
}
.p-0 {
    padding: 0 0!important !important;
}
.p-1 {
    padding: 0.25rem 0.25rem!important !important;
}
.p-2 {
    padding: 0.5rem 0.5rem!important !important;
}
.p-3 {
    padding: 1rem 1rem!important !important;
}
.p-4 {
    padding: 1.5rem 1.5rem!important !important;
}
.p-5 {
    padding: 3rem 3rem!important !important;
}
@media (min-width:992px) {
    .p-lg-0 {
        padding: 0 0!important !important;
    }
    .p-lg-1 {
        padding: 0.25rem 0.25rem!important !important;
    }
    .p-lg-2 {
        padding: 0.5rem 0.5rem!important !important;
    }
    .p-lg-3 {
        padding: 1rem 1rem!important !important;
    }
    .p-lg-4 {
        padding: 1.5rem 1.5rem!important !important;
    }
    .p-lg-5 {
        padding: 3rem 3rem!important !important;
    }
}
.text-justify {
    text-align: justify!important;
}
.text-nowrap {
    white-space: nowrap!important;
}
.text-center {
    text-align: center!important;
}
@media (min-width:992px) {
    .text-lg-center {
        text-align: center!important;
    }
}
.text-white {
    color: #fff!important;
}
.text-info {
    color: #de8d31!important;
}
a.text-info:focus,
a.text-info:hover {
    color: #de8d31!important;
}
body,
html {
    min-height: 100%;
}
body {
    background-image: url("../img/bg-main.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    font-family: Lato,sans-serif;
}
body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
}
.container {
    background: #25272c;
    min-height: 100%;
    padding: 0;
}
.header {
    height: 550px;
    width: 100%;
    background: url("../img/top.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
}
.header:before {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
    background-image: linear-gradient(45deg,rgba(233,173,73,.66) 0,#b69651 100%);
}
.topmenu {
    position: relative;
    z-index: 20;
    margin-top: 20px;
}
.topmenu a {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 28px;
    padding: 0 27px;
    text-decoration: none;
}
.topmenu .line {
    display: block;
    width: 45px;
    border-bottom: 1px solid #fff;
}
.server-info {
    margin-bottom: 150px;
    position: relative;
    z-index: 20;
}
.inner {
    padding: 40px;
}
section .image {
    width: 300px;
    min-height: 480px;
    margin: 40px;
    background-position: center center;
    background-size: cover;
}
section .image.image1 {
    background-image: url("../img/example.jpg");
}
section .image.image2 {
    background-image: url("../img/example-2.jpg");
}
section .text {
    padding: 40px;
    max-width: 700px;
}
section .text p {
    font-size: 18px;
    line-height: 26px;
    color: rgba(255,255,255,.5);
}
section .text p b {
    color: #fff;
    font-weight: 700;
}
section .text ul {
    color: #fff;
    margin: 0;
    padding: 0 0 0 20px;
}
section .text ul li {
    font-size: 18px;
    line-height: 26px;
    color: rgba(255,255,255,.5);
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 700;
}
section.discord-widget {
    padding: 40px;
    width: 100%;
}
section.discord-widget iframe {
    height: 500px;
    width: 100%;
}
section.join {
    padding: 40px;
}
section.join .btn-pill {
    margin: 30px;
}
section.join .line {
    border-bottom: 1px solid #fff;
}
.footer {
    padding: 40px;
    background-color: #25272c;
    background-image: linear-gradient(45deg,rgba(233,173,73,.66) 0,#b69651 100%);
    line-height: 24px;
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}
.footer .block {
    min-height: 200px;
    margin-right: 80px;
}
.footer p {
    max-width: 500px;
    padding-top: 40px;
    margin-bottom: 0;
}
h1 {
    font-size: 68px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 86px;
    margin: 0 0 35px;
    padding: 0;
}
h2 {
    font-size: 48px;
    line-height: 57px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 40px;
    padding: 0;
}
h3 {
    font-size: 36px;
    line-height: 44px;
    color: #fff;
    font-weight: 900;
    padding: 0;
    margin-bottom: 6px;
}
.btn-pill {
    height: 50px;
    padding: 0 100px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.28);
    border-radius: 100px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    position: relative;
    transition: all 0.3s ease;
    bottom: 0;
}
.btn-pill:hover {
    bottom: 10px;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.28);
}
.btn-pill.white {
    background: #fff;
    color: #de8d31;
}
.links-suppressor a,
a.links-suppressor {
    text-decoration: none;
}